body {
	background-color: #f8f9fa;
	background-image: url('../images/background.jpeg');
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
	background-color: aliceblue;
}

.card {
	padding: 20px;
}

.login-form {
	width: 360px;
	margin: 50px auto;
}

.oswald-header {
	font-family:Verdana, Geneva, Tahoma, sans-serif
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}