
/* FUENTES PERSONALIZADAS */

@font-face {
  font-family: 'NunitoBlack';
  src: url('../../assets/fonts/NunitoBlack.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titulo';
  src: url('../../assets/fonts/Titulo.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoItalic';
  src: url('../../assets/fonts/NunitoItalic.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../assets/fonts/Nunito.otf');
  font-weight: normal;
  font-style: normal;
}


/* ESTILOS PARA LAS CARDS */

.data-card {
  background-color: rgba(19, 14, 43, 0.97);
  box-shadow: -4px 4px 10px rgba(249,36,100,255);
  border-radius: 10px;
}

.user-card {
  background-color: rgba(19, 14, 43, 0.97);
  box-shadow: -4px 4px 10px rgba(249,36,100,255);
  border-radius: 5px;
}


/* ESTILOS PARA LOS FORMULARIOS */

.data-label {
  color: #ddb7fc;
  font-family: 'NunitoBlack';
  font-size: 1.1em;
  padding-bottom: 0.4em;
}

.data-control {
    display: block;
    border: none;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4e2a61;
    background-color: #f1dfff;
    border-radius: 5px;
}

.data-placeholder::placeholder {
  color: #6d3c88 !important;
  opacity: 0.8 !important;
  font-family: 'NunitoItalic';
}

.data-placeholder:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: #f1dfff !important;
  color: #4e2a61 !important;
}


/* ESTILOS PARA LOS BOTONES */

.data-button {
  border: 2px solid rgb(206, 29, 82) !important;
  color:#ebd2ff !important;
  font-family: NunitoBlack !important;
  font-size: 1.2em !important;

}

.data-button:hover {
  background-color: rgb(206, 29, 82) !important;
  color: rgba(19, 14, 43, 0.9) !important;
}

.background-button {
  background-color: rgb(206, 29, 82) !important;
  color:#ebd2ff !important;
  font-family: NunitoBlack !important;
  margin: 10px;
  font-size: 1.2em !important;
  padding: 0.4em 0.7em !important;
}

.background-button:hover {
  color: rgba(19, 14, 43, 0.9) !important;
}

.border-button{
  border: 2px solid rgb(206, 29, 82) !important;
  color:#ebd2ff !important;
  font-family: NunitoBlack !important;
  margin: 10px !important;
  font-size: 1.2em !important;
  padding: 0.4em 0.7em !important;
}

.border-button:hover {
  background-color: rgb(206, 29, 82) !important;
  color: rgba(19, 14, 43, 0.9) !important;
}

/* ESTILOS PARA EL TITULO DEL REGISTRO Y EL LOGIN */

.data-card-title {
  color: #ebd2ff;
  font-family: 'Titulo';
}


/* ESTILOS DE LOS NAVEGADORES */

.nav-flex {
  flex: 0 0 auto !important;
}

.nav-background {
  background-color: rgba(19, 14, 43, 0.9);
  border-bottom: solid 2px;
  border-color: #ff3974;
  box-shadow: 0px 4px 10px rgba(249,36,100,255);
}

.nav-item {
  color: #ebd2ff!important;
  font-family: 'Titulo' !important;
  font-size: 1.2em !important;
}

.nav-item:hover {
  color: #f92464 !important;
}


/* OTROS ESTILOS */

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm .col,
.gutters-sm [class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}

html,
body {
  height: 100%;
  background-image: url('../../assets/images/fondo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}